datas/bilingual_pairs
datas/query_translation
debug/
outputs_old/
outputs/
Logs/
results/
.env
wandb
outputs_baseline/
Logs
embeddings/
cal_sim_embeddings/
embeddings_hidden_state/
picture/
__pycache__/
paper_picture/
paper_figure/
cal_sim_embeddings/
embeddings/
picture/
__pycache__
.vscode/
**/__pycache__/
**/*.py[cod]
**/*.so
**/*$py.class