accelerate==1.10.1
deepspeed==0.14.5
huggingface-hub==0.34.4
numpy==2.0.2
pandas==2.2.2
# pyarrow==18.1.0
sentence-transformers==5.1.0
tokenizers==0.15.2
torch==2.6.0+cu124
torchao==0.10.0
torchaudio==2.6.0+cu124
torchdata==0.11.0
tqdm==4.67.1
transformers==4.38.2